---
layout: style
---
img.portfoliologo {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.fullheight {
  height: 100%;
}

.wrapper {
  display: flex;
  margin-top: 16px;
  margin-left: 16px;
}

.first {
  flex: 0 0 65%;
}

.second {
  flex: 1;
}

.topcorner{
  position:absolute;
  top:0;
  right:0;
 }

