<!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        
                        {% if page.lang=="nl" %}
                        Over ErGo-knowhow
                        {% else  %}
                        About ErGo-knowhow
                        {% endif %}    
                        
                        </h2>
                    <p class="large text-muted">
                        
                        {% if page.lang=="nl" %}
                        ErGo-knowhow is gespecialiseerd in het voorkomen en verhelpen van werkgerelateerde lichamelijke klachten. Met klanten door heel Europa adviseert ErGo-knowhow medewerkers en leidinggevenden met betrekking tot het verbeteren van de arbeidsomstandigheden. 


                        {% else  %}
                        ErGo-knowhow is specialized in the prevention and alleviation of work related physical complaints. With clientele throughout all of Europe, ErGo-knowhow provides advice to both employees and managers in how to improve the work environment.
                        {% endif %}    
                        
                        <p>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div >
                    <div class="team-member">
                        <img src="../img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                        
                        {% if page.lang=="nl" %}
                        Wilt u binnen uw organisatie ook graag werkgerelateerde klachten voorkomen of verhelpen? Bel of stuur een E-mail naar: info@ergoknowhow.com
                        {% else  %}
                        Would you like to prevent or alleviate the work related physical illnesses and/or issues within your organization? Call or send an E-mail to: info@ergoknowhow.com
                        {% endif %}    

                        </h3>
                    </p>
                </div>
            </div>
        </div>
    </section>
