<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{ site.title[page.lang] }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">{{ site.header_services[page.lang] }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">{{ site.header_portfolio[page.lang] }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">{{ site.header_about[page.lang] }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{{ site.header_contact[page.lang] }}</a>
                    </li>
                    <li class="full-height">
                        <div class="wrapper">
                            <div class="first">
                            <a  href="/nl/"><img src="../img/nl.png" title="Nederlands" alt="Nederlands" /></a>
                            </div>
                            <div class="second">
                            <a  href=   "/en/"><img src="../img/en.png" title="English" alt="English" /></a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">ErGo-knowhow</div>
                <div class="intro-lead-in">Professional ergonomic consultation</div>
                <a href="#services" >
                    <img src="../img/logo.png"/>
                    </a>

            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

