<div class="l-subsection color_dark with_parallax" style="background-image: url(http://freemz.nl/uploads/parallax2.png)">
	<div id="container" >
		<h3>Onze <strong>klanten</strong></h3>
		<div class="row">
			<div>
				<img width="200" height="133" src="http://freemz.nl/uploads/rituals-200x133.png" class="attachment-carousel-thumb size-carousel-thumb wp-post-image"
					alt="Rituals" srcset="http://freemz.nl/uploads/rituals-200x133.png 200w, http://freemz.nl/uploads/rituals.png 300w" sizes="(max-width: 200px) 100vw, 200px"
				/>
			</div>
			<div><img width="200" height="133" src="http://freemz.nl/uploads/transdev-logo-freemz.png" class="attachment-carousel-thumb size-carousel-thumb wp-post-image"
					alt="Transdev Freemz" />
			</div>
			<div><img width="200" height="133" src="http://freemz.nl/uploads/vicair-logo-freemz.png" class="attachment-carousel-thumb size-carousel-thumb wp-post-image"
					alt="Vicair Freemz" />
			</div>
			<div><img width="200" height="133" src="http://freemz.nl/uploads/rabobank-logo-freemz.png" class="attachment-carousel-thumb size-carousel-thumb wp-post-image"
					alt="Rabobank Freemz" />
			</div>
			<div><img width="200" height="133" src="http://freemz.nl/uploads/OLVG-1-200x133.png" class="attachment-carousel-thumb size-carousel-thumb wp-post-image"
					alt="OLVG-1" srcset="http://freemz.nl/uploads/OLVG-1.png 300w, http://freemz.nl/uploads/OLVG-1-200x133.png 200w" sizes="(max-width: 200px) 100vw, 200px"
				/>
			</div>
			<div><img width="200" height="133" src="http://freemz.nl/uploads/ebury-logo-200x133.png" class="attachment-carousel-thumb size-carousel-thumb wp-post-image"
					alt="Ebury Freemz" srcset="http://freemz.nl/uploads/ebury-logo-200x133.png 200w, http://freemz.nl/uploads/ebury-logo.png 300w"
					sizes="(max-width: 200px) 100vw, 200px" />
			</div>
		</div>
	</div>
</div>