<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">ErGo-knowHow is specialized in providing advice to both employees and employers, so that they are able to reduce or prevent work related health issues.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary" ></i>-->
                        <img src="img/services/tillen.jpg" class="fa fa-laptop fa-stack-2x fa-inverse">
                   </span>
                    <h4 class="service-heading">Physical strain</h4>
                    <p class="text-muted">Musculoskeletal Complaints are responsible for approximately one third of the absenteeism in the Netherlands. A substantial expenditure for companies. ErGo-knowHow approaches the problem of physical strain at work effectively, starting at the source: How can the stress be reduced? And at least as important: what can the employees do on their own to ensure their work doesn’t affect their physical health adversely?</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <img src="img/services/bsw.jpg" class="fa fa-laptop fa-stack-1x fa-inverse">
                    </span>
                    <h4 class="service-heading">PC Workstation Ergonomics</h4>
                    <p class="text-muted">ErGo-knowHow has proven expertise in providing courses that increase awareness of work related risks as well as practical instruction for prevention, both to groups and/or individuals. “PC Workstation Ergonomics” course and implementation of improvements from individual workplace analysis. In cases where a physical illness or complaint is work related, ErGo-knowHow determines the source of the problem.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <img src="img/services/rie.jpg" class="fa fa-laptop fa-stack-1x fa-inverse">
                    </span>
                    <h4 class="service-heading">Risk Inventory and Evaluation</h4>
                    <p class="text-muted">Since 1996, every company with a staff  is required to perform a Risk Inventory & -Evaluation (RI&E). ErGo-knowHow recognizes the need for this requirement, which many companies are as yet unaware of. These companies view the mandatory RI&E as a useless and costly expense.
ErGo-knowHow can help with setting up the RI&E. Thorough but not superfluous. For an appealing and reasonable price.
</p>
                </div>
            </div>
        </div>
    </section>
