<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                      
                        {% if page.lang=="nl" %}
	                        Diensten
	                        {% else  %}
	                        Services
	                        {% endif %}        
                        
                      </h2>
                    <h3 class="section-subheading text-muted">
                        
                        {% if page.lang=="nl" %}
	                        ErGo-knowhow is gespecialiseerd in het adviseren van medewerkers en leidinggevenden, zodat zij werkgerelateerde fysieke klachten kunnen voorkomen of verhelpen.
	                        {% else  %}
	                        ErGo-knowhow is specialized in providing advice to both employees and employers, so that they are able to reduce or prevent work related health issues.
	                        {% endif %}        
                       
                        </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <img src="../img/services/bsw.jpg" class="fa fa-laptop fa-stack-1x fa-inverse">
                    </span>
                    <h4 class="service-heading">
                        
                        {% if page.lang=="nl" %}
                        Beeldschermwerk
                        {% else  %}
                        PC Workstation Ergonomics
                        {% endif %}    

                        </h4>
                    <p class="text-muted">
                        
                        {% if page.lang=="nl" %}
                        Sinds 1999 adviseert Ilya den Dulk-Slingerland dagelijks bedrijven op het gebied van beeldschermwerk-ergonomie. Inmiddels heeft zij duizenden individuele werkplekonderzoeken uitgevoerd en is hiermee op dit gebied zonder twijfel de meest ervaren ergonome van Nederland. 
“Indien een fysieke klacht werkgerelateerd is, dan vindt ErGo-knowhow eigenlijk altijd wel de oorzaak.”

                        {% else  %}
                        ErGo-knowhow has proven expertise in providing courses that increase awareness of work related risks as well as practical instruction for prevention, both to groups and/or individuals. “PC Workstation Ergonomics” course and implementation of improvements from individual workplace analysis. In cases where a physical illness or complaint is work related, ErGo-knowhow determines the source of the problem.
                        {% endif %}    
                        </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary" ></i>-->
                        <img src="../img/services/tillen.jpg" class="fa fa-laptop fa-stack-2x fa-inverse">
                   </span>
                    <h4 class="service-heading">

                        {% if page.lang=="nl" %}
                        Fysieke Belasting
                        {% else  %}
                        Physical Strain
                        {% endif %}    
                        
                        </h4>
                    <p class="text-muted">
                        
                        {% if page.lang=="nl" %}
                        Klachten aan het bewegingsapparaat veroorzaken ongeveer een derde van het verzuim in Nederland. Een aanzienlijke kostenpost voor bedrijven. ErGo-knowhow pakt fysieke belasting op de werkvloer doeltreffend aan, te beginnen bij de bron: Hoe kan de belasting verminderd worden? En minstens net zo belangrijk: wat kun je als medewerker zélf doen om klachten te voorkomen?
                        {% else  %}
                        Musculoskeletal Complaints are responsible for approximately one third of the absenteeism in the Netherlands. A substantial expenditure for companies. ErGo-knowhow approaches the problem of physical strain at work effectively, starting at the source: How can the stress be reduced? And at least as important: what can the employees do on their own to ensure their work doesn’t affect their physical health adversely?
                        {% endif %}    
                        
                        </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <img src="../img/services/roze_bovenkant_website.png" class="fa fa-laptop fa-stack-1x fa-inverse">
                    </span>
                    <h4 class="service-heading">
                        
                        {% if page.lang=="nl" %}
                        Werkplek Checklist
                        {% else  %}
                        Workplace Checklist
                        {% endif %}    
                        
                        </h4>
                    <p class="text-muted">
                        
                        {% if page.lang=="nl" %}
                        ErGo-knowhow heeft een werkplekchecklist ontwikkeld voor beeldscherm-werkplekken. Het laat op eenvoudige wijze zien hoe je het beste je werkplek kunt instellen. Bestel de checklist in de webshop, plaats hem op je bureau en zit vanaf nu altijd lekker achter je computer.
                        {% else  %}
                        ErGo-knowhow has developed a workplace checklist for VDU workstations. It shows in an easy way how to adjust your workplace. You can buy the checklist in our webshop and place it there where you can see it when adjusting your workplace.
                        {% endif %}    
                        
                        </p>


                        <a  href="https://werkplekchecklist.nl/">
                        <button class="btn btn-primary">Go to Shop <i class="fa fa-shopping-cart"></i></button>
                        </a>

                </div>
            </div>
        </div>
    </section>
